/* FONTS */
body {
  font-family: "Libre Baskerville", "Georgia", serif;
}
h1, h2, h3 {
  font-family: "Libre Franklin", "Helvetica", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
article {
  line-height: 2;
  font-size: 17px;
}

/* General Styles */
.container {
  display: block;
  max-width: 700px;
  margin: 3em auto;
}
article {
  max-width: 750px;
  margin: auto;
}
.byline {
  padding-left: 25px;
  width: 200px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
  font-weight: 300;
}
.interactive {
  font-family: "Montserrat";
  font-weight: 500;
  margin: 2em -6em;
}
.interactive iframe {
  min-height: 400px;
}

#reaction-bars .barset {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
}

#reaction-selects {
  margin-bottom: 10px;
  text-align: right;
}
#reaction-selects .dropdown {
  display: inline-block;
}

#bars-container {
  clear: both;
}

.dropdown {
  border-radius: 10px;
  text-align: left;
  outline: none;
  margin-left: 0.5em;
}
.dropdown .selectivity-single-select {
  padding: 0.3em 0.5em;
}
.dropdown .selectivity-single-result-container {
  transform: translate(0.3em, -0.5em);
}
.dropdown .selectivity-single-selected-item-remove {
  transform: translate(-0.75em, 0.5em);
}
.dropdown .selectivity-caret {
  right: 0.75em;
  top: 0.6em;
}
.dropdown .dropdown-icon {
  width: 1.1em;
  height: 1.1em;
  display: inline;
  transform: translateY(0.1em);
}

#pies-legend .legend-item {
  display: inline-block;
  margin: 11px;
  font-weight: bold;
}

#pies-legend .legend-color {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
#reaction-table h2 {
  margin-bottom: 0;
}
#reaction-table table {
  border-spacing: 0.2em 1em;
}
#reaction-table tr {
  position: relative;
  z-index: 3;
}
#reaction-table th {
  font-weight: normal;
}
#reaction-table td {
  font-weight: bold;
  color: white;
  padding: 0.25em;
  text-align: center;
}
#reaction-table th img {
  width: 2em;
  height: 2em;
}
#reaction-table tr:not(.header) th{
  font-size: 0.8em;
  text-align: right;
  padding-right: 0.5em;
}
#reaction-table tr:not(.header):hover th {
  font-weight: bold;
}


#correlations-select {
  margin-bottom: 10px;
  text-align: right;
}
#correlations-select .dropdown {
  display: inline-block;
}
