/* FONTS */
body {
  font-family: "Libre Baskerville", "Georgia", serif;
}
h1, h2, h3 {
  font-family: "Libre Franklin", "Helvetica", sans-serif;
}
h1 {
  font-size: 2.5rem;
}
article {
  line-height: 2;
  font-size: 17px;
}

/* General Styles */
.container {
  display: block;
  max-width: 800px;
  margin: 3em auto;
}
article {
  max-width: 750px;
  margin: auto;
}
.byline {
  padding-left: 25px;
  width: 200px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
  font-weight: 300;
}
.interactive {
  font-family: "Montserrat";
  margin: 2em -6em;
}
.interactive iframe {
  min-height: 400px;
}

#reaction-bars .barset {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
}

#reaction-selects {
  margin-bottom: 10px;
  text-align: right;
}
#reaction-selects .dropdown {
  display: inline-block;
}

#bars-container {
  clear: both;
}

.dropdown {
  border-radius: 10px;
  text-align: left;
  outline: none;
  margin-left: 0.5em;
}
.dropdown .selectivity-single-select {
  padding: 0.3em 0.5em;
}
.dropdown .selectivity-single-result-container {
  transform: translate(0.3em, -0.5em);
}
.dropdown .selectivity-single-selected-item-remove {
  transform: translate(-0.75em, 0.5em);
}
.dropdown .selectivity-caret {
  right: 0.75em;
  top: 0.6em;
}
